<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Контакты | FastAPI</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/menu/menu.css">
  <link rel="stylesheet" href="/static/contacts/contacts.css">
  <link rel="stylesheet" href="/static/filter/filter.css">
  <link rel="stylesheet" href="/static/popups/popups.css">
  <link rel="stylesheet" href="/static/footer/footer.css">
</head>
<body>
  <div id="db-status-block" style="margin: 0.5em 0; font-weight: bold;"></div>
  <div class="main-container">
    <div class="grid">
      {% include 'menu/menu.html' %}
      <div class="sort">
        <b>Сортировка:</b>
        <div class="sort-filters">
          <button class="sort-btn active" data-sort="name">По имени</button>
          <button class="sort-btn" data-sort="email">По email</button>
          <button class="sort-btn" data-sort="date">По дате</button>
        </div>
      </div>
      {% include 'contacts/contacts.html' %}
      {% include 'footer/footer.html' %}
    </div>
  </div>
  {% include 'popups/full_contact_popup.html' %}
  {% include 'popups/contact_form.html' %}
  {% include 'popups/confirm_delete.html' %}
  <script src="/static/app.js"></script>
  <script src="/static/menu/menu.js"></script>
  <script src="/static/contacts/contacts.js"></script>
  <script src="/static/filter/filter.js"></script>
  <script src="/static/popups/popups.js"></script>
  <script src="/static/footer/footer.js"></script>
</body>
</html>
